*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App{
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 235, 224);
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.appArticle{
  width: 70%;
  color: rgb(113, 113, 113);
  box-shadow: black 0 0 10px;
}


table{
 width: 100%;
 background-color: rgb(245, 244, 244);
 padding: 20px;
 text-align: left;
}

th{
  color: rgb(244, 156, 41);
}

tr,th,td{
  padding: 10px;

}

.form1 button{
 width: 60px;
 padding: 5px 0;
 background-color: white;
 border-radius: 10px;
 border: 1px solid black;
 font-size: 13px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bolder;
}

.form2{
  width: 100%;
  background-color: rgb(255, 180, 114);
  padding: 20px;

}

.inputDiv{
  display: flex;
  justify-content: space-between;
}

.inputDiv button{
 width: 80px;
 padding: 5px 0;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bolder;
}